$font: Inter, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
$page-padding: 40px;
$content-width: 1024px;
$header-height: 64px;

$oversize-media: 1780px;
$large-media: 1260px;
$medium-media: 1024px;
$small-media: 800px;
$mobile-media: 600px;

:root {
  --a: #f1f6f4;
  --b: #a6adaa;
  --b-alt: #313333;
  --c: #0f1110;
  --c-alt: #1a1d1a;
  --brand: #48C0B8;
  --brand-dark: #26A49E;

  --rad-s: 4px;
  --rad-m: 8px;
  --rad-l: 12px;
}
