.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  border-radius: var(--rad-m);
  background-color: var(--c);

  p {
    margin: 0;
    margin-bottom: 4px;
  }
}
