.tag-list {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.tag {
  display: inline-block;
  box-sizing: border-box;
  min-height: 25px;
  padding: 6px 8px;
  border-radius: var(--rad-s);
  font-size: 1.2rem;
  line-height: 1em;
  color: var(--a);
  background-color: var(--b-alt)
}
