@import 'global/vars';
@import 'global/global';
@import 'global/layout';

@import 'components/banner';
@import 'components/button';
@import 'components/cards';
@import 'components/header';
@import 'components/icon';
@import 'components/logo';
@import 'components/tag';

#header {
  margin-top: $header-height;
  padding-top: $page-padding * 4;
  padding-bottom: $page-padding * 4;
  background-image: url("/static/brisbane.webp");
  background-size: cover;
  background-position: bottom center;

  .section-summary {
    max-width: 880px;
  }

  h5 {
    color: var(--b);
  }

  .logo-lineup {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: $page-padding;

    img {
      width: 120px;
    }
  }
}

#services {
  background-color: var(--c-alt);

  .section-columns {
    gap: $page-padding / 2;

    p:not(.large) {
      margin-bottom: 1em;
    }
  }

  .section-left-column,
  .section-right-column {
    display: flex;
    flex-direction: column;
    gap: $page-padding / 2;

    .icon {

      svg {
        fill: var(--brand);
      }
    }
  }

  ul {
    text-align: left;

    li {
      margin-top: 16px;
    }
  }
}

#approach {
  background-color: var(--c-alt);

  .section-left-column,
  .section-right-column {
    display: flex;
    flex-direction: column;
    gap: $page-padding / 2;
  }

  .team-photo {
    padding: 24px;
    box-sizing: border-box;
    width: 100%;
    border-radius: var(--rad-l);
    background-color: var(--b-alt);

    img {
      width: 100%;
      border-radius: var(--rad-m);
    }
  }
}

#projects {

  .card {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    gap: $page-padding / 2;
    background-color: var(--c-alt);

    img {
      display: block;
      max-width: 300px;
      max-height: 300px;
      border-radius: var(--rad-s);
    }

    .header-and-tag {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      margin: 8px 0 24px;

      h3 {
        margin: 0;
      }
    }

    h3,
    h5 {
      margin-bottom: 0.4em;

      + p {
        margin-top: 0;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

#contact {

  .section-left-column {
    display: flex;
    flex-direction: column;
    gap: $page-padding / 2;
  }

  .card {
    background-color: var(--c-alt);
  }
}

#footer {
  background-color: var(--c-alt);

  .section-right-column p {
    margin: 0;

    + p {
      margin-top: 12px;
    }
  }
}

.brand-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background-color: var(--brand);
  }
}

.brand-line-after {
  display: flex;
  align-items: center;
  gap: 16px;

  &::after {
    content: '';
    display: block;
    flex-grow: 1;
    height: 1px;
    background-color: var(--brand);
  }
}

#contact-form {

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

    label {
      width: 100%;
      font-size: 14px;

      &.required-field::after {
        content: ' *';
        color: var(--brand);
      }
    }

    input,
    textarea {
      width: 100%;
      box-sizing: border-box;
      padding: 12px 16px;
      border: 1px solid var(--b-alt);
      border-radius: var(--rad-m);
      background-color: rgba(255,255,255,0.04);
      -webkit-appearance: none;
      appearance: none;
      font-size: 16px;
      color: var(--a);

      + label,
      + button {
        margin-top: 12px;
      }
    }

    textarea {
      min-height: 100px;
      resize: vertical;
    }
  }
}
