@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --a: #f1f6f4;
  --b: #a6adaa;
  --b-alt: #313333;
  --c: #0f1110;
  --c-alt: #1a1d1a;
  --brand: #48C0B8;
  --brand-dark: #26A49E;
  --rad-s: 4px;
  --rad-m: 8px;
  --rad-l: 12px;
}

::selection {
  background-color: var(--a);
  text-shadow: none;
  color: var(--c);
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  max-width: 100%;
  margin: 0;
  background-color: var(--c);
  font-family: Inter, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.33em;
  color: var(--a);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  font-weight: 700;
  line-height: 1.2em;
}

h1 {
  font-size: 5.2rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

p,
ol,
ul {
  margin: 1.5em 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5em;
}

p.large,
ol.large,
ul.large {
  font-size: 1.7rem;
  line-height: 1.6em;
}

ol,
ul {
  padding-left: 2em;
}

ul ul {
  list-style-type: circle;
}

a,
a:visited {
  text-decoration-thickness: 1px;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
  outline: none;
}

a:hover, a:focus, a:active,
a:visited:hover,
a:visited:focus,
a:visited:active {
  text-decoration-style: solid;
}

a {
  color: inherit;
}

a:focus {
  background-color: var(--a);
  color: var(--c);
  text-decoration: none;
}

.brand {
  color: var(--brand);
}

section:not(:first-of-type),
footer {
  border-top: 1px solid var(--b-alt);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
}

section > div {
  max-width: 1024px;
}

section > div > h1,
section > div > h2,
section > div > h3 {
  margin-top: 0;
}

.section-summary,
.section-secondary {
  max-width: 720px;
  text-align: center;
}

.section-summary p,
.section-secondary p {
  color: var(--b);
}

.section-secondary {
  margin-top: 80px;
}

.section-columns {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  width: 100%;
  padding-top: 40px;
}

.section-columns > div {
  flex-basis: 360px;
  flex-grow: 1;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  border-radius: var(--rad-m);
  background-color: var(--c);
}

.banner p {
  margin: 0;
  margin-bottom: 4px;
}

.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 24px;
  border: 0;
  border-radius: var(--rad-m);
  background-color: var(--brand);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  color: var(--c);
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

@media (max-width: 600px) {
  .button {
    width: 100%;
    font-size: 1.3rem;
  }
}

.button:hover {
  background-color: var(--brand-dark);
}

.button:focus {
  text-decoration: underline;
}

.card {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid var(--b-alt);
  border-radius: var(--rad-l);
  background-color: var(--c);
}

.card > *:first-child {
  margin-top: 0;
}

.card > *:last-child {
  margin-bottom: 0;
}

header.page-header {
  position: fixed;
  top: 0;
  z-index: 666;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 0 40px;
  border-bottom: 1px solid var(--b-alt);
  background-color: rgba(15, 17, 16, 0.5);
  backdrop-filter: blur(16px);
}

header.page-header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1024px;
}

header.page-header .logo {
  display: block;
  height: 32px;
  font-size: 0;
}

header.page-header .contact-details a {
  font-size: 14px;
}

header.page-header .contact-details a + a {
  margin-left: 16px;
}

header.page-header .contact-details a:not(:hover) {
  text-decoration: none;
}

.icon svg {
  stroke: var(--b);
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: var(--rad-m);
  background-color: var(--b-alt);
}

.icon-and-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.icon-and-header h2,
.icon-and-header h3 {
  margin: 0;
}

.tag-list {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.tag {
  display: inline-block;
  box-sizing: border-box;
  min-height: 25px;
  padding: 6px 8px;
  border-radius: var(--rad-s);
  font-size: 1.2rem;
  line-height: 1em;
  color: var(--a);
  background-color: var(--b-alt);
}

#header {
  margin-top: 64px;
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url("/static/brisbane.webp");
  background-size: cover;
  background-position: bottom center;
}

#header h5 {
  color: var(--b);
}

#header .logo-lineup {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
}

#header .logo-lineup img {
  width: 120px;
}

.tagline span {
  margin-top: -0.1em;
  font-size: 0.6em;
}

#services {
  background-color: var(--c-alt);
}

#services .section-columns {
  gap: 20px;
}

#services .section-columns p.large {
  color: var(--b);
}

#services .section-columns p:not(.large) {
  margin-bottom: 1em;
}

#services .section-left-column,
#services .section-right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#services .section-left-column .icon svg,
#services .section-right-column .icon svg {
  fill: var(--brand);
}

#approach {
  background-color: var(--c-alt);
}

#approach p.large {
  color: var(--b);
}

#approach .section-left-column,
#approach .section-right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#approach .team-photo {
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--rad-l);
  background-color: var(--b-alt);
}

#approach .team-photo img {
  width: 100%;
  border-radius: var(--rad-m);
}

#projects .card {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: var(--c-alt);
}

#projects .card img {
  display: block;
  width: 280px;
  border-radius: var(--rad-s);
}

#projects .card h3,
#projects .card h4 {
  margin-bottom: 0.4em;
}

#projects .card h3 + p,
#projects .card h4 + p {
  margin-top: 0;
}

#projects .card p.large {
  color: var(--b);
}

#contact .section-left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact .card {
  background-color: var(--c-alt);
}

#footer {
  background-color: var(--c-alt);
}

#footer .section-right-column p {
  margin: 0;
  color: var(--b);
}

#footer .section-right-column p + p {
  margin-top: 12px;
}

.brand-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.brand-line::before, .brand-line::after {
  content: '';
  display: block;
  width: 80px;
  height: 1px;
  background-color: var(--brand);
}

.brand-line-after {
  display: flex;
  align-items: center;
  gap: 16px;
}

.brand-line-after::after {
  content: '';
  display: block;
  flex-grow: 1;
  height: 1px;
  background-color: var(--brand);
}

#contact-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

#contact-form form label {
  width: 100%;
  font-size: 14px;
}

#contact-form form label.required-field::after {
  content: ' *';
  color: var(--brand);
}

#contact-form form input,
#contact-form form textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  border: 1px solid var(--b-alt);
  border-radius: var(--rad-m);
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  color: var(--a);
}

#contact-form form input + label,
#contact-form form input + button,
#contact-form form textarea + label,
#contact-form form textarea + button {
  margin-top: 12px;
}

#contact-form form textarea {
  min-height: 100px;
  resize: vertical;
}
